<!-- If the billing address is selected, add an 'active' class to the button
E.g. <button class="card outline-card active">
-->
<button class="card outline-card">
    <!-- Billing Name -->
    <h6 class="name">Name</h6>

    <div class="address details">
        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M50,98a3.26,3.26,0,0,1-2.46-1.14L21.32,66.1c-20-22.7-5.85-61.8,25-63.82C80.48-1.83,101,40.82,78.64,66.1L52.44,96.86A3.23,3.23,0,0,1,50,98Zm.55-89.49c-27.66-.87-42,33.06-24.29,53.4L50,89.79S73.73,61.9,73.74,61.9C91.3,42.41,77.11,8.17,50.53,8.5ZM50,61.25a20.6,20.6,0,0,1-21-21.1c0-26.87,40.47-29.09,42.08,0h0A21.13,21.13,0,0,1,50,61.25ZM50,25.5h0a14.65,14.65,0,1,0,.06,29.29c19.2-.66,19.23-28.63-.06-29.29Z" /></svg>

        <!-- Billing Address -->
        <div class="value">
            <p class="light">Address Line 1,</p>
            <p class="light">Address Line 2</p>
            <p class="light">City, Postal Code</p>
        </div>
    </div>

    <div class="contacts details">
        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M83,8H25.77A13.79,13.79,0,0,0,12,21.77V27H7.13a3.89,3.89,0,1,0,0,7.77H12V46H7.13a3.89,3.89,0,0,0,0,7.78H12v11.4H7.13a3.89,3.89,0,1,0,0,7.77H12v5.24A13.79,13.79,0,0,0,25.77,92H83A13.78,13.78,0,0,0,96.76,78.23V21.77A13.78,13.78,0,0,0,83,8Zm6,70.23a6,6,0,0,1-6,6H25.77a6,6,0,0,1-6-6V21.77a6,6,0,0,1,6-6H83a6,6,0,0,1,6,6V78.24ZM64.81,49.69a14.5,14.5,0,1,0-20.83,0C36.7,53.25,30.85,60.53,28.22,70A3.89,3.89,0,1,0,35.71,72C38.55,61.84,46.07,55,54.39,55S70.24,61.84,73.07,72a3.89,3.89,0,0,0,3.75,2.84,3.55,3.55,0,0,0,1.05-.15,3.89,3.89,0,0,0,2.7-4.79c-2.63-9.42-8.48-16.69-15.74-20.26ZM54.39,46.32a6.72,6.72,0,1,1,6.73-6.71A6.72,6.72,0,0,1,54.39,46.32Z" /></svg>

        <!-- Billing Contacts -->
        <div class="value">
            <p class="light">Email Address ∙ Phone Number</p>
        </div>
    </div>
</button>

@code {
    // Place your code here
}
