<div class="main-product-card favorites-card">
    <!-- Product Image
    Change the url in background-image to change the image
    -->
    <div class="image" style="background-image: url(https://static.wikia.nocookie.net/fine-dining-extended-universe/images/8/8c/Aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa.jpg)"></div>

    <!-- Product Details -->
    <div class="details">
        <h6 class="name">Product Name</h6>
        <p class="desc light">Product Description</p>

        <div class="row">
            <p class="price">₱899</p>
        </div>
    </div>

    <!-- Remove from Favorites button -->
    <button class="floating-button remove-favorites">
        <svg xmlns="http://www.w3.org/2000/svg" width="24.634" height="24.634" viewBox="0 0 24.634 24.634">
            <g id="Group_1" data-name="Group 1" transform="translate(32.708 12.317) rotate(135)">
                <line id="Line_1" data-name="Line 1" y2="28.837" transform="translate(14.419)" fill="none" stroke="white" stroke-linecap="round" stroke-width="3" />
                <path id="Path_25" data-name="Path 25" d="M0,0H28.837" transform="translate(0 14.419)" fill="none" stroke="white" stroke-linecap="round" stroke-width="3" />
            </g>
        </svg>
    </button>
</div>

@code {
    // Place your code here
}
