<div class="card orders-product-table-spacing">
    <div class="product">
        <div class="image">
            <!-- Product Image
            Change the src to change the image
            -->
            <img src="https://static.wikia.nocookie.net/fine-dining-extended-universe/images/8/8c/Aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa.jpg" />
        </div>

        <!-- Product Details -->
        <div class="info">
            <h6>Product Name</h6>
            <p class="light">Product Brand</p>
        </div>
    </div>

    <div class="others">
        <div class="price detail">
            <p class="light">Price</p>
            <p class="value">₱899</p>
        </div>

        <div class="quantity detail">
            <p class="light">Quantity</p>
            <p class="value">2</p>
        </div>

        <div class="total detail">
            <p class="light">Total</p>
            <p class="value">₱1,798</p>
        </div>
    </div>
</div>

@code {
    // Place your code here
}