@page "/cart"
@rendermode InteractiveServer
@using Ecommerce.Components.Shared
@using Ecommerce.Components.Shared.Misc

<section class="cart-page">
    <!-- Back button -->
    <button class="back">
        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><rect x="6.04" y="45.45" width="91.07" height="9.11" rx="4.55" /><rect x="-5.78" y="24.52" width="68.31" height="9.11" rx="4.55" transform="translate(-12.25 28.57) rotate(-45)" /><rect x="23.82" y="36.78" width="9.11" height="68.31" rx="4.55" transform="translate(-41.85 40.84) rotate(-45)" /></svg>
        <span></span>
    </button>

    <h1 class="page-title">Shopping Cart</h1>

    <div class="main">
        <div class="cart table-card">
            <div class="header cart-table-spacing labels">
                <p>Product</p>
                <p>Quantity</p>
                <p>Total</p>
                <p></p>
            </div>

            <!-- Cart Items -->
            <div class="body">
                <!-- Sample Products -->
                @for (int i = 0; i < 10; i++) {
                    <CartItem />
                }
            </div>
        </div>

        <!-- Order Summary -->
        <div class="order-summary">
            <div class="table-card">
                <div class="header row">
                    <h6 class="title">Order Summary</h6>
                </div>

                <div class="body row">
                    <div>
                        <p class="label">Items</p>
                        <p class="value">6</p>
                    </div>

                    <div>
                        <p class="label">Subtotal</p>
                        <p class="value">₱5,394</p>
                    </div>

                    <div>
                        <p class="label">Shipping Fee</p>
                        <p class="value">₱59</p>
                    </div>
                </div>

                <div class="footer row">
                    <p class="label">Total</p>
                    <p class="value">₱5,453</p>
                </div>
            </div>

            <!-- Proceed to Checkout Button -->
            <a class="primary" href="/checkout">Checkout</a>
        </div>
    </div>
</section>

@code {
    public string userID = "test_user_1"; // Other IDs: "test_user_2", "test_user_3"

    // Place your code here
}
