@inject NavigationManager Navigation

<div class="card" style="background-image: url(@ImageURL)" @onclick="GoTo">
    <h1>@Category</h1>

    <button class="glass-button">
        <p>Shop Now</p>

        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><rect x="-13.28" y="45.34" width="123.54" height="12.35" rx="6.18" transform="translate(-22.22 49.37) rotate(-45)" /><rect x="84.65" y="3" width="12.35" height="92.66" rx="6.18" /><rect x="4.34" y="3" width="92.66" height="12.35" rx="6.18" /></svg>
    </button>

    <div class="overlay"></div>
</div>

@code {
    [Parameter]
    public required string Category { get; set; }

    public string ImageURL => $"/assets/images/{Uri.EscapeDataString(Category.ToLower())}.png";

    public void GoTo() {
        Navigation.NavigateTo($"/products?category={Category.ToLower()}");
    }
}
