<div class="card admin-table-product admin-products-spacing">
    <!-- Product ID -->
    <p class="productID">#00012</p>

    <!-- Product Name -->
    <div class="product">
        <!-- Change the background-image url to change the image -->
        <div class="image" style="background-image: url(https://static.wikia.nocookie.net/fine-dining-extended-universe/images/8/8c/Aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa.jpg)"></div>
        <h6>Product Name</h6>
    </div>
    
    <!-- Product Details -->
    <p class="category">Living Room</p>
    <p class="price">₱899</p>
    <p class="stock">120</p>

    <!-- Options button (Ignore) -->
    <button class="options"><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M15.53,61.51A11.53,11.53,0,1,1,27.06,50,11.53,11.53,0,0,1,15.53,61.51" /><path d="M50,61.51A11.53,11.53,0,1,1,61.52,50,11.54,11.54,0,0,1,50,61.51" /><path d="M72.91,50a11.52,11.52,0,1,0,3.38-8.16A11.53,11.53,0,0,0,72.91,50Z" /></svg></button>

    <div class="options-menu">
        <button>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250 250"><g id="Layer_2" data-name="Layer 2"><path d="M227,23.36l-.4-.37a46.44,46.44,0,0,0-65.45,0l-16,16.09L21.17,163a10.61,10.61,0,0,0-3,6L9.63,228.41a10.57,10.57,0,0,0,12,12L81,231.85a10.45,10.45,0,0,0,6-3l140-140A46.51,46.51,0,0,0,227,23.36ZM74.54,211.44l-42,6,6-42,114-114,36,36ZM212.07,73.92l-8.61,8.56-36-35.91v0l8.59-8.63a25.05,25.05,0,0,1,17.78-7.39h0a25.07,25.07,0,0,1,17.78,7.41l.38.45A25,25,0,0,1,212.07,73.92Z" /></g></svg>

            <p>Edit</p>
        </button>

        <button>
            <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M17.17,34.12v42C17.17,88,25.51,97,36.57,97H63.43c11.06,0,19.4-9,19.4-20.89v-42a8.95,8.95,0,0,0-1.5-17.77h-12A14.85,14.85,0,0,0,54.56,3H45.44A14.85,14.85,0,0,0,30.68,16.35h-12a8.95,8.95,0,0,0-1.5,17.77ZM63.43,91H36.57c-7.78,0-13.43-6.27-13.43-14.92V34.25H76.86V76.11C76.86,84.76,71.21,91,63.43,91ZM45.44,9h9.12a8.87,8.87,0,0,1,8.73,7.38H36.71A8.87,8.87,0,0,1,45.44,9ZM18.67,22.31H81.33a3,3,0,1,1,0,6H18.67a3,3,0,1,1,0-6Z" /><path d="M60.44,43.29a3,3,0,0,0-3,3V76.11a3,3,0,1,0,6,0V46.27A3,3,0,0,0,60.44,43.29Z" /><path d="M39.56,43.29a3,3,0,0,0-3,3V76.11a3,3,0,1,0,6,0V46.27A3,3,0,0,0,39.56,43.29Z" /></svg>

            <p>Delete</p>
        </button>
    </div>
</div>


@code {
    // Place your code here
}
