<div class="card admin-transactions-spacing">
    <p class="paymentID">6e235c8a-9133-42c1-9b9a-7d7e9442d6b8</p>
    <p class="payment-method">GCash</p>
    <p class="date">September 12, 2024</p>
    <p class="amount">₱4,978</p>
</div>

@code {
    // Place your code here
}
